<!DOCTYPE html>
<html>
<head>
	<title>Contact page</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body style="background-color: skyblue;">
	<% include partials/nav.ejs %>
	<h1>Contact page</h1>
</body>
</html>