<!DOCTYPE html>
<html>
<head>
	<title>Site</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body style="background-color: skyblue">
	<% include partials/nav.ejs %>
	<h1>Welcome to most awesome site in the network!!!</h1>
	<p>Simply the best.</p>
</body>
</html>